<%= form_with(model: municipe, :class => "row g-3") do |form| %>
  <% if municipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(municipe.errors.count, "error") %> erros impediram a conclusão do cadastro:</h2>

      <ul>
        <% municipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <%= form.label :name, 'Nome Completo *', { class: "form-label"} %>
    <%= form.text_field :name, class: "form-control", :required => true %>
  </div>

  <div class="col-md-6">
    <%= form.label :cpf, 'CPF *', { class: "form-label"} %>
    <%= form.text_field :cpf, class: "form-control", minlength:8, maxlength:20, onkeypress:"$(this).mask('000.000.000-AA')", :required => true %>
  </div>

  <div class="col-md-6">
    <%= form.label :cns, 'Número CNS *', { class: "form-label"} %>
    <%= form.text_field :cns, class: "form-control", onkeypress:"$(this).mask('000 0000 0000 0000')", :required => true%>
  </div>

  <div class="col-md-6">
    <%= form.label :email, 'E-mail *', { class: "form-label"} %>
    <%= form.text_field :email , class: "form-control", :required => true %>
  </div>

  <div class="col-md-6">
    <%= form.label :birthday, 'Data de Nascimento *', { class: "form-label"} %>
    <%= form.date_field :birthday, class: "form-control", min: "1950-01-01", max: Time.now, :required => true %>
  </div>

  <div class="col-md-3">
    <%= form.label :phone_country, 'Código País *', { class: "form-label"} %>
    <%= form.text_field :phone_country,  class: "form-control", minlength:2, maxlength:4, onkeypress:"$(this).mask('+00')", :required => true %>
  </div>

  <div class="col-md-3">
    <%= form.label :phone_area, 'DDD *', { class: "form-label"} %>
    <%= form.text_field :phone_area, class: "form-control", minlength:2, maxlength:4, onkeypress:"$(this).mask('(00)')", :required => true %>
  </div>

  <div class="col-md-6">
    <%= form.label :phone_number, 'Número de Telefone *', { class: "form-label"} %>
    <%= form.text_field :phone_number, class: "form-control", minlength:6, maxlength:13, onkeypress:"$(this).mask('00000 0000')", :required => true %>
  </div>

  <div class="col-md-12">
    <%= form.label :image, 'Foto *', { class: "form-label"} %>
    <%= image_tag form.object.image_url(:thumb) if @municipe.image_data %>
    <br/>
    <%= form.hidden_field :image, value: @municipe.image_data %>
    <%= form.file_field :image %>
  </div>
<br/>
  <div class="col-md-12">
    <%= form.label :status, 'Status *', { class: "form-label"} %>

    <div class="form-check form-check">
      <%= form.radio_button :status, true, :class => "form-check-input", checked: true %>
      <%= form.label :status, "Ativo", :class => "form-check-label", value: "true" %>
    </div>
    <div class="form-check form-check">
      <%= form.radio_button :status, false, :class => "form-check-input" %>
      <%= form.label :status, "Inativo", :class => "form-check-label", value: "false" %>
    </div>
  </div>

  <div class="alert alert-warning mt-3">
    Todos campos são obrigatórios
  </div>

  <div class="d-grid gap-2">
    <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("#municipe_email").inputmask({
    mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]",
    greedy: false,
    onBeforePaste: function (pastedValue, opts) {
      pastedValue = pastedValue.toLowerCase();
      return pastedValue.replace("mailto:", "");
    },
    definitions: {
      '*': {
        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
        casing: "lower"
      }
    }
  });
});
</script>