<%= form_with(model: municipe) do |form| %>
  <% if municipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(municipe.errors.count, "error") %> erros impediram a conclusão do cadastro:</h2>

      <ul>
        <% municipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, 'Nome Completo', style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :cpf, 'CPF', style: "display: block" %>
    <%= form.text_field :cpf, class: "form-control", minlength:8, maxlength:20, onkeypress:"$(this).mask('000.000.000-AA')" %>
  </div>

  <div>
    <%= form.label :cns, 'Número CNS', style: "display: block" %>
    <%= form.text_field :cns, class: "form-control", onkeypress:"$(this).mask('000 0000 0000 0000')" %>
  </div>

  <div>
    <%= form.label :email, 'E-mail', style: "display: block" %>
    <%= form.text_field :email , class: "form-control" %>
  </div>

  <div>
    <%= form.label :birthday, 'Data de Nascimento', style: "display: block" %>
    <%= form.date_field :birthday, class: "form-control", min: "1950-01-01", max: Time.now %>
  </div>

  <div>
    <%= form.label :phone_country, 'Código País', style: "display: block" %>
    <%= form.text_field :phone_country,  class: "form-control", minlength:2, maxlength:4, onkeypress:"$(this).mask('+00')" %>
  </div>

  <div>
    <%= form.label :phone_area, 'DDD', style: "display: block" %>
    <%= form.text_field :phone_area, class: "form-control", minlength:2, maxlength:4, onkeypress:"$(this).mask('(00)')" %>
  </div>

  <div>
    <%= form.label :phone_number, 'Número de Telefone', style: "display: block" %>
    <%= form.text_field :phone_number, class: "form-control", minlength:6, maxlength:13, onkeypress:"$(this).mask('00000 0000')" %>
  </div>

  <div>
    <%= form.label :image, 'Foto' %>
    <%= image_tag form.object.image_url if form.object.cached_image_data %>
    <%= form.hidden_field :image, value: form.object.cached_image_data %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :status, 'Status' %>
    <br/>
    <%= form.label :status, "Ativo", value: "true" %>
    <%= form.radio_button :status, true, checked: true %>
    <br/>
    <%= form.label :status, "Inativo", value: "false" %>
    <%= form.radio_button :status, false %>
  </div>

  <div>
    <%= form.submit 'Salvar', :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("#municipe_email").inputmask({
    mask: "*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@*{1,20}[.*{2,6}][.*{1,2}]",
    greedy: false,
    onBeforePaste: function (pastedValue, opts) {
      pastedValue = pastedValue.toLowerCase();
      return pastedValue.replace("mailto:", "");
    },
    definitions: {
      '*': {
        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
        casing: "lower"
      }
    }
  });
});
</script>