<div id="<%= dom_id municipe %>">
  <p>
    <strong>Name:</strong>
    <%= municipe.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= municipe.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= municipe.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= municipe.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= municipe.birthday %>
  </p>

  <p>
    <strong>Phone country:</strong>
    <%= municipe.phone_country %>
  </p>

  <p>
    <strong>Phone area:</strong>
    <%= municipe.phone_area %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= municipe.phone_number %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= municipe.photo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= municipe.status %>
  </p>

</div>
