<div id="<%= dom_id municipe %>">
  <p>
    <strong>Nome:</strong>
    <%= municipe.name %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= municipe.cpf %>
  </p>

  <p>
    <strong>CNS:</strong>
    <%= municipe.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= municipe.email %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= municipe.birthday.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Código País:</strong>
    +<%= municipe.phone_country %>
  </p>

  <p>
    <strong>DDD:</strong>
    (<%= municipe.phone_area %>)
  </p>

  <p>
    <strong>Número de Telefone:</strong>
    <%= municipe.phone_number %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= municipe.photo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= get_status(municipe.status) %>
  </p>

</div>
