<div id="<%= dom_id municipe %>">
  <p>
    <strong>Nome:</strong>
    <%= municipe.name %>
  </p>

  <p>
    <strong>CPF:</strong>
    <span class="cpf_number"><%= municipe.cpf %></span>
  </p>

  <p>
    <strong>CNS:</strong>
    <span class="cns_number"><%= municipe.cns %></span>
  </p>

  <p>
    <strong>Email:</strong>
    <%= municipe.email %>
  </p>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= municipe.birthday.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Código País:</strong>
    +<%= municipe.phone_country %>
  </p>

  <p>
    <strong>DDD:</strong>
    (<%= municipe.phone_area %>)
  </p>

  <p>
    <strong>Número de Telefone:</strong>
    <span class="phone_number"><%= municipe.phone_number %></span>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= image_tag municipe.image_url(:thumb) %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= municipe.status ? "Ativo" : "Inativo" %>
  </p>

</div>
