<p style="color: green"><%= notice %></p>

<%= link_to new_municipe_path, :class => 'btn btn-primary btn-sm float-end' do %>
  Criar Novo
<% end %>
<h1>Municipes</h1>

<div id="municipes" class="mt-5 table-responsive">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>CNS</th>
        <th>E-mail</th>
        <th>Data de Nascimento</th>
        <th>Código País</th>
        <th>DDD</th>
        <th>Telefone</th>
        <th>Status</th>
        <th>Foto</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @municipes.each do |municipe| %>
        <tr>
          <td><%= link_to municipe.name, municipe, :class => 'btn btn-link btn-sm' %></td>
          <td><%= municipe.cpf %></td>
          <td><%= municipe.cns %></td>
          <td><%= municipe.email %></td>
          <td><%= municipe.birthday.strftime("%d/%m/%Y") %></td>
          <td>+<%= municipe.phone_country %></td>
          <td>(<%= municipe.phone_area %>)</td>
          <td><%= municipe.phone_number %></td>
          <td><%= get_status(municipe.status) %></td>
          <td><%= municipe.photo %></td>
          <td><%= link_to municipe_addresses_path(municipe), :class => 'btn btn-outline-primary btn-sm float-end' do %>Endereço (<%= municipe.address.count %>)<% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
