<%= form_with(model: [@municipe, address], local: true) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> impediram endereço de ser salvo:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :postal_code, 'CEP', style: "display: block" %>
    <%= form.text_field :postal_code, class: "form-control", onkeypress:"$(this).mask('00000-000')" %>
  </div>

  <div>
    <%= form.label :address, 'Endereço', style: "display: block" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div>
    <%= form.label :address_complement, 'Complemento', style: "display: block" %>
    <%= form.text_field :address_complement, class: "form-control" %>
  </div>

  <div>
    <%= form.label :neighborhood, 'Bairro', style: "display: block" %>
    <%= form.text_field :neighborhood, class: "form-control" %>
  </div>

  <div>
    <%= form.label :city, 'Cidade', style: "display: block" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div>
    <%= form.label :state, 'Estado', style: "display: block" %>
    <%= form.text_field :state, class: "form-control" %>
  </div>

  <div>
    <%= form.label :ibge_code, 'Código IBGE', style: "display: block" %>
    <%= form.text_field :ibge_code, class: "form-control" %>
  </div>

  <div>
    <%= form.submit 'Salvar', :class => 'btn btn-primary mt-5' %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("#address_postal_code").blur(function(){
    var cep = this.value.replace(/[^0-9]/, "");

    if(cep.length != 8){
      return false;
    }
    var url = "https://viacep.com.br/ws/"+cep+"/json/";

    $.getJSON(url, function(dadosRetorno){
      try{
        $("#address_address").val(dadosRetorno.logradouro);
        $("#address_address_complement").val(dadosRetorno.complemento);
        $("#address_neighborhood").val(dadosRetorno.bairro);
        $("#address_city").val(dadosRetorno.localidade);
        $("#address_state").val(dadosRetorno.uf);
        $("#address_ibge_code").val(dadosRetorno.ibge);
      }catch(ex){}
    });
  });
});
</script>