<!DOCTYPE html>
<html>
  <head>
    <title>Jedisapp - Teste</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="mt-5 container themed-container">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
